@charset "utf-8";

@font-face {
    font-family: 'Tenada';
    src: url('./fonts/Tenada.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Tenada', serif;
}