@charset "utf-8";

@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@font-face {
    font-family: 'Tenada';
    src: url('./fonts/Tenada.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nanum Myeongjo', serif !important;
}

h1 {
    font-family: 'Tenada', serif !important;
}